# src/ is created by `pip install -r requirements.txt`
src/
__pycache__/
*_frames/
.env/
.vscode/

cogs/resources/db/database.txt
cogs/resources/bin
cogs/resources/lib
cogs/CAViewer-Linux.zip
CAViewer-Linux.zip

*.gif
*.rle
*.rule
*.ruel
*.png
