[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
aiofiles = "*"
cython = "*"
imageio = "*"
pypng = "*"
bs4="*"
lxml="*"

asyncpg = {git = 'https://github.com/MagicStack/asyncpg.git'}
"discord.py" = {git = 'https://github.com/Rapptz/discord.py@rewrite'}
"yarl" = "<1.2"

[requires]
python_version = "3.6.4"
